@import '../styles/variables';

body {
    font-weight: $font-weight;
    font-family: $font-family;
	background: $bgc-color;
	scroll-behavior: smooth;
}

html {font-size: 62.5%;}

html, body {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,li,figure,blockquote,input,select,textarea {margin: 0;padding: 0;}

ol, ul {list-style: none;}

h1,h2,h3,h4,h5,h6,p,ul,ol,li,p {color: $color;}

a {color: blue}

span {color: $span-color}

img {max-width: 100%;height: auto;border: 0;}