<nav class="flex justify-between items-center z-10 w-full lg:px-20 bg-gray-200" [ngClass]="{'fixed' : scroll}">
    <a routerLink="/">
        <img src="/assets/images/logo.png" alt="logo" class="logo">
    </a>
    <mat-tab-group>
        <mat-tab *ngFor="let link of navLinks">
          <ng-template mat-tab-label>
            <a [routerLink]="link.link">
              <i [class]="link.icon + ' pr-5'"></i><p>{{ link.label }}</p>
            </a>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="fa-solid fa-user pr-5"></i><p>Login</p>
          </ng-template>
        </mat-tab>
    </mat-tab-group>
</nav>